[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/alloy/Desktop/google-chrome.desktop]
row=0
col=1

[/home/alloy/Desktop/chrome-blpcfgokakmgnkcojhhkbfbldkacnbeo-Default.desktop]
row=3
col=1

[/home/alloy/Desktop/chrome-aohghmighlieiainnegkcijnfilokake-Default.desktop]
row=1
col=1

[/home/alloy/Desktop/chrome-pjkljhegncpnkpknbcohdijeoejaedia-Default.desktop]
row=0
col=2

[/home/alloy/Desktop/chrome-apdfllckaahabafndbhieahigkjlhalf-Default.desktop]
row=2
col=1

